html,
body {
  height: 100%;
    font-family: 'Ribeye',
    cursive;
    font-size: larger;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ebefff;
}

#message,
#notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

#reset {
  margin: 20px;
  padding: 10px 20px;
  font-size: large;
}

#toBlog {
  position: relative;
  left: 40vw;
  font-family: 'Ribeye',
    cursive;
  font-size: 30px;
  color: black;
  background-color: #ffd1dc;
  border: 3px solid black;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}

#toBlog:hover {
  transform: scale(1.1) perspective(10px);
  transition: all 200ms ease-out;
}

.ui-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: black;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #9eb5ff solid;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine,
div.mine:hover {
  background: no-repeat center/80% url("images/skull.png") #ff85a2;
}

div.hidden {
  background: #8582ff;
}

div.hidden:hover {
  background: #b8c9ff;
}

div.marked,
div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") #85dfff;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px #ccc dotted;
  border-radius: 10px;
  background-color: white;
  margin: 30px;
  padding: 20px;
}

.radio-container{
  padding: 10px;
  margin-right: 20px;
}

button {
  color: white;
  background-color: #8582ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}